name: Monthly Ride Summary

on:
  schedule:
    - cron: '0 23 31 * *'
  
  workflow_dispatch:

jobs:
  send-summary:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install notion-client
      
      - name: Send monthly summary
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN2 }}
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID2 }}
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          SENDER_PASSWORD: ${{ secrets.SENDER_PASSWORD }}
          RECIPIENT_EMAIL: ${{ secrets.RECIPIENT_EMAIL }}
          NOTION_DATASOURCE_ID: ${{ secrets.NOTION_DATASOURCE_ID2 }}
        run: python send_budget_summary.py
